body {
	color: white;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 15em;
	max-height: 15em;
	position: relative;
	bottom: -40px;
	-webkit-filter: invert(100%);
}

.title {
	text-align: center;
}

.text {
	text-align: center;
}

.cold {
	background-color: #95A5A6
}

.chilly {
	background-color: #1ABC9C
}

.nice {
	background-color: #2980B9
}

.warm {
	background-color: #E67E22
}

.hot {
	background-color: #E74C3C
}


#clock {
	font-size: 800%;
	font-family: "Impact";
	text-align: center;
}